/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: blueviolet;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    text-align: left;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 3%;
}
nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px ;
}
/*make it hover*/
nav a:hover {
    color: blueviolet;
}

nav ul {
    list-style: none;
    text-align: center;
    /* margin-top: 10px; */
;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    padding-inline: 4px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    height: 100vh; /* Make sections cover the entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
}

#welcome {
    background-color: #fff;
    text-align: center;
}

#welcome h2 {
    color: #333;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style: none;
    margin-top: 10px;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}
